<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color: #333F50;">
    <div style="background-color: #FFFFFF; color: #333F50; border: 50px solid #FFFFFF; margin: 50px;">
      <%=email_image_tag("dwl.png", {style:"width:152px;height:76px;background-color:black;"})%>
      <p>Hello, Firstname Lastname</p>
      <p>Thank you for applying for a housing choice voucher through DwellWell, we’re glad we could help.</p>
      <p>Congratulations! Your application was approved, and you have qualified to pay only <span style="color: #70AD47; font-size: 24pt;">30%</span> on a monthly rent up to <span style="color: #70AD47; font-size: 24pt;">$1400</span>.</p>
      <p style="margin-bottom: 48pt;">Your next step is to search for a home you like.</p>
      <p style="margin-bottom: 48pt;"><a style="background-color: #219AFF; color: #FFFFFF; padding: 15px; text-decoration: none;" href="http://nom.nomnomnom.nom/nomnomnomnom">Search for Homes</a></p>
      <p>You can also access your account by clicking <a href="http://nom.nomnomnom.nom/nomnomnomnom">here</a>.</p>
    </div>
  </body>
</html>