<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color: #333F50;">
    <div style="background-color: #FFFFFF; color: #333F50; border: 50px solid #FFFFFF; margin: 50px;">
      <%=email_image_tag("dwl.png", {style:"width:152px;height:76px;background-color:black;"})%>
      <p>Hello, USER</p>
      <p>Thank you for applying for a housing choice voucher through DwellWell, we’re glad we could help.</p>
      <p>Unfortunately, you application was denied because your income is too high for the area you applied to.</p>
      <p>You can access your account by clicking <a href="http://nom.nomnomnom.nom/nomnomnomnom">here</a>.</p>
    </div>
  </body>
</html>
