<!DOCTYPE html>
<html lang="en">
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body style="background-color: #333F50;">
		<div style="background-color: #FFFFFF; color: #333F50; border: 50px solid #FFFFFF; margin: 50px;">
			<%=email_image_tag("dwl.png", {style:"width:152px;height:76px;background-color:black;"})%>
			<p>Hello, USER</p>
			<p>And welcome to DwellWell! We're here to help you find a home you can afford.</p>
			<p style="margin-bottom: 24pt;">We were asked to make an account for you, if that was you, let us know by clicking the link below:</p>
			<p style="margin-bottom: 24pt;"><a href="http://nom.nomnomnom.nom/nomnomnomnom">Click here to verify your email</a></p>
			<p>Sincerely,</p>
			<p>The DwellWell Team</p>
		</div>
	</body>
</html>
