<div id="mainDiv">
    <div id="shader">
        <div>
            <h1>Find your next home</h1>
            <h2>We’re here to help you apply for a housing choice voucher and find affordable housing</h2>
            <div id="centerer">
              <%= link_to "Get Started", login_users_path, id: "getstarted" %>
            </div>
        </div>
    </div>
</div>
<div id="infoDiv">
    <div class="info">
        <%= image_tag("hl.png") %>
        <div>
            <h3>What's a housing choice voucher?</h3>
            <p>The housing choice voucher program is a federal program for providing financial assistance to low-income families, the elderly, and the disabled to afford safe, sanitary, and decent homes. You can find out more <a href="http://portal.hud.gov/hudportal/HUD?src=/program_offices/public_indian_housing/programs/hcv/about/fact_sheet" target="_blank">here</a>.</p>
        </div>
    </div>
    <div class="info">
        <%= image_tag("dwld.png") %>
        <div>
            <h3>How does DwellWell work?</h3>
            <p>DwellWell makes the process for taking advantage of housing choice voucher program easy. Simply create an account, answer a few questions, and select a home that fits your budget.</p>
        </div>
    </div>
</div>